#note-maker-modal input {
	display: block;
	height: var(--input-height);
	margin: 8px 0;
}

#jump-modal .dest-preview {
	min-height: 1.2rem;
}
#jump-modal input {
	display: block;
	height: var(--input-height);
	margin: 8px 0;
}

.weeklynote-setting-box {
	width: 100%;
}
.weeklynote-setting-box .setting-item-info {
	width: 40%;
}
.weeklynote-setting-box textarea {
	min-height: 200px;
	width: 100%;
}
