#note-maker-modal input {
	display: block;
	height: var(--input-height);
	margin: 8px 0;
}

#jump-modal input {
	display: block;
	height: var(--input-height);
	margin: 8px 0;
}
#jump-modal .button-box {
	min-height: 2rem;
}
#jump-modal .button-box button {
	margin-right: 4px;
	min-width: 5rem;
}

#future-modal .result {
	margin-bottom: 1em;
	border-left: 2px solid var(--text-accent);
	padding-left: 1em;
}

#future-modal .matches {
	padding: 0.5em 0;
}

#future-modal .matches mark {
	background: var(--color-accent);
}

.weeklynote-setting-box {
	width: 100%;
}
.weeklynote-setting-box .setting-item-info {
	width: 40%;
}
.weeklynote-setting-box textarea {
	min-height: 200px;
	width: 100%;
}
